.Letter{
    font-size: 2rem;
    font-weight: bold;
    background-color: #cdd7fd;
    border-radius: 5px;
    color: #000000;
    min-height: 4.2rem;
    aspect-ratio: 5/6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
} 

.Letter.correct,
.Letter.wrong-position{
    color: #e6e6e6;
}

.Letter.correct{
    border: 3px solid #5baf4a;
}

.Letter.wrong-position{
    border: 3px solid #df8135;
}

.Letter.exists:not(.Letter.correct, .Letter.wrong-position, .Letter.disabled){
    background-color: #a8affa;
    border: 3px solid #818cf8;
    animation: hasLetter .21s forwards;
}

@keyframes hasLetter {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}