.Letter{
    font-size: 2.7rem;
    font-weight: bold;
    background-color: #cdd7fd;
    border-radius: 5px;
    color: #000000;
    min-height: 5rem;
    aspect-ratio: 5/6;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.Letter.exists{
    background-color: #a8affa;
    border: 3px solid #818cf8;
}