.Key{
    padding: 25px;
    background-color: #475569;
    font-size: 1.4rem;
    border-radius: 5px;
    color: white;
    user-select: none;
}

.disabled{
    opacity: 0.4;
}

.wrong-position{
    background-color: #FB923C;
}

.correct{
    background-color: #61bd4f;
}

.Key:hover{
    background-color: #5e6c84;
    cursor: pointer;
}